c = get_config()

c.DataGenerator.max_q_len=8
c.DataGenerator.max_d_len=500
c.DataGenerator.vocabulary_size=253988

c.BaseNN.vocabulary_size=253988
c.BaseNN.embedding_size=300
c.BaseNN.max_q_len=8
c.BaseNN.max_d_len=500
c.BaseNN.max_epochs=50
c.BaseNN.eval_frequency=5
c.BaseNN.checkpoint_steps=5
c.BaseNN.batch_size=16

c.DAZER.emb_in = 'glove_20ng_knrm.txt'
c.DAZER.kernal_width=5
c.DAZER.kernal_num=50
c.DAZER.regular_term=0.0001
c.DAZER.adv_term = 0.0
c.DAZER.train_class_num = 17
c.DAZER.model_learning_rate=0.00001
c.DAZER.adv_learning_rate=0.00001
c.DAZER.maxpooling_num=3
c.DAZER.decoder_mlp1_num=75
c.DAZER.decoder_mlp2_num=1
c.DAZER.word2id_path = 'knrm_word2id.txt'
